#about_me {
    padding-top: 70px;
    background-image: url(../images/mandala-bg.png);
    background-repeat: no-repeat;
    background-position: 60vw 20px;  
    
    .light-mode & {
        background-image: url(../images/flower-bg.png);
        background-position: 70vw 20px;  
    }
    
    h2 {
        text-align: center;
    }

    .hero {
        // .image {
        //     img {                
        //         border-radius: 50%;
        //         max-width: 100%;
        //         transition: all 0.3s;
                
        //         filter: saturate(200%) grayscale(1);
                
        //     }
        // }

        .info {
            header {
                margin-bottom: 42px;
                margin-top: 10px;
            }

            // h2 {
            //     color: $dark_gray;
            //     margin-bottom: 16px;
            // }


            p {
                max-width: 850px;
                text-align: justify;
                color: $dark_gray;

                .light-mode & {
                    color: $light_gray;
                }
            }

            .items {
                margin-top: 60px;
                margin-bottom: 48px;

                .item {
                    display: flex;
                    margin-bottom: 16px;

                    .value {
                        margin-left: 4px;
                        color: $dark_gray;

                        .light-mode & {
                            color: $light_gray;
                        }
                    }
                }
            }

            .buttons {
                display: inline-flex;
                flex-wrap: wrap;
                
                a:first-child {
                    margin-right: 115px;
                }
                
            }

        }
    }

    .rate {
        display: flex;

        span {
            position: relative;
            display: flex;
            width: 15px;
            height: 15px;

            &:not(:last-child) {
                margin-right: 12px;
            }

            &:before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 4px;
                //transform: rotate(40deg);
                background: $dark_secondary;

                .light-mode & {
                    background: $light_secondary;
                }
            }

            &:after {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 4px;
                transform: rotate(50deg);
                background: $dark_secondary;

                .light-mode & {
                    background: $light_secondary;
                }
            }

            &.fill {
                &:before,
                &:after {
                    background: $dark_primary;

                    .light-mode & {
                        background: $light_primary;
                    }
                }
            }
        }
    }

    .languages-skills {
        margin-top: 126px;

        h2 {
            padding-bottom: 40px;
        }

        .languages-soft-skills {
            justify-content: center;
            .languages {
                padding: 0px 50px;
                .items {
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }

                        .info {
                            h3 {
                                margin-bottom: 4px;
                            }

                            .level {
                                color: $dark_gray;

                                .light-mode & {
                                    color: $light_gray;
                                }
                            }
                        }
                    }
                }
            }

            .soft-skills {
                padding: 0px 50px;
                .items {
                    .item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &:not(:last-child) {
                            margin-bottom: 32px;
                        }

                        &:last-child {
                            margin-bottom: 100px;
                        }
                    }
                }
            }
        }

        .tech-skills {
            .items {
                margin-left: -20px;
                margin-right: -20px;

                .item {
                    position: relative;
                    text-align: center;
                    padding: 32px 8px;
                    margin-bottom: 16px;
                    border-radius: 8px;
                    z-index: 1;
                    overflow: hidden;
                    background: $dark_secondary;

                    .light-mode & {
                        background: $light_secondary;
                    }


                &:hover {
                    transition: all 0.3s;               
                    background: darken($dark_primary, 35%);

                    .light-mode & {
                        background: rgba($light_primary, 20%);
                    }

                }

                    // &:hover {

                    //     &:before,
                    //     &:after {
                    //         transform: translate(0, 0);
                    //     }
                    // }

                    // &:before {
                    //     position: absolute;
                    //     content: "";
                    //     width: 100%;
                    //     height: 100%;
                    //     left: 0;
                    //     top: 0;
                    //     border-radius: 8px;
                    //     z-index: -1;
                    //     transform: translate(100%, -100%);
                    //     transition: all 0.6s;
                    //     background: darken($dark_primary, 35%);

                    //     .light-mode & {
                    //         background: rgba($light_primary, 0.3);
                    //     }
                    // }

                    // &:after {
                    //     position: absolute;
                    //     content: "";
                    //     width: 100%;
                    //     height: 100%;
                    //     left: 0;
                    //     top: 0;
                    //     border-radius: 8px;
                    //     z-index: -1;
                    //     transform: translate(-100%, 100%);
                    //     transition: all 0.6s;
                    //     background: darken($dark_primary, 35%);

                    //     .light-mode & {
                    //         background: rgba($light_primary, 0.3);
                    //     }
                    // }

                    img {
                        margin-bottom: 21px;
                    }

                    h3 {
                        margin-bottom: 8px;
                    }

                    .year {
                        color: $dark_years;

                        .light-mode & {
                            color: $light_years;
                        }
                    }
                }
            }
        }
    }
}