//dark-mode colors
$white: #fff;
$dark_bg: #171819;
$dark_secondary: #21282f;
$dark_primary: #4498ed;
$dark_gray: hsl(300, 3%, 72%);
$dark_secondary_gray: #888b8d;
$dark_years: #fb6753;
$dark_button_bg: #263448;
$dark_icon_bg: #ff15150d;
$dark_toggle_background: rgb(72, 97, 123);
$dark_toggle_button: linear-gradient(180deg, #89c2ff, #09408d);

//light-mode colors
$gray: rgb(50, 49, 49);
$light_bg: #fff5d9;
$light_secondary: #e4dfb5;
$light_primary: #8749ae;
$light_gray: hsl(300, 1%, 40%);
$light_secondary_gray: #9f33cd;
$light_years: #0a60e1;
$light_button_bg: #daaaeb;
$light_icon_bg: #ff15150d;
$light_toggle_background: rgb(249, 234, 159);
$light_toggle_button: linear-gradient(180deg, #f2cc50, #faa243);