#my_resume {
	padding-top: 100px;
	padding-bottom: 115px;
	background-image: url(../images/mandala-bg.png);
	background-repeat: no-repeat;
	background-position: 60vw 20px;

	.light-mode & {
		background-image: url(../images/flower-bg.png);
		background-position: 70vw 20px;
	}

	h2 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	h3 {
		margin-bottom: 10px;
		font-size: 18px;
	}

	.custom {
		margin-bottom: 40px;
		text-align: center;
	}

	header.has-bg {
		margin-bottom: 64px;
	}

	.items {
		.item {
			display: flex;

			&:not(:last-child) {
				margin-bottom: 42px;
			}

			&.last {
				.icon i,
				.box .title {
					color: $dark_primary;

					.light-mode & {
						color: $light_primary;
					}
				}
			}

			&:hover {
				.icon,
				.icon:before {
					background: rgba(darken($dark_primary, 40%), 0.4);

					.light-mode & {
						background: rgba(darken($light_primary, 10%), 0.2);
					}
				}

				.box {
					background: transparent;

					&:before {
						border-right-color: darken($dark_primary, 35%);

						.light-mode & {
							border-right-color: rgba(darken($light_primary, 10%), 0.2);
						}
					}

					&:after {
						width: 100%;
					}
				}
			}

			.icon {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 46px;
				height: 46px;
				border-radius: 50%;
				font-size: 20px;
				margin-right: 46px;
				margin-top: 23px;
				transition: all 0.3s;
				background: $dark_icon_bg;

				.light-mode & {
					background: $light_icon_bg;
				}

				&:before {
					content: "";
					position: absolute;
					width: 1px;
					height: 126px;
					background: $dark_secondary;
					top: 82px;
					transition: all 0.3s;

					.light-mode & {
						background: $light_secondary;
					}
				}
			}

			.box {
				position: relative;
				padding: 32px;
				border-radius: 8px;
				text-align: left;
				z-index: 1;
				transition: all 0.3s;
				background: rgba($dark_secondary, 0.75);
				width: 350px; /* Adjust the width as needed */
				height: 230px; /* Adjust the height as needed */

				.light-mode & {
					background: rgba($light_secondary, 0.75);
				}

				&:before {
					content: "";
					position: absolute;
					border-top: 9px solid transparent;
					border-bottom: 9px solid transparent;
					left: -9px;
					top: 36px;
					border-right: 9px solid rgba($dark_secondary, 0.75);

					.light-mode & {
						border-right: 9px solid rgba($light_secondary, 0.75);
					}
				}

				&:after {
					content: "";
					position: absolute;
					width: 0;
					height: 100%;
					left: 0;
					top: 0;
					border-radius: 8px;
					z-index: -1;
					transition: all 0.3s;
					background: darken($dark_primary, 35%);

					.light-mode & {
						background: rgba(darken($light_primary, 10%), 0.2);
					}
				}

				.year {
					display: inline-block;
					font-size: 16px;
					font-weight: 400;
					margin-bottom: 16px;
				}

				.title {
					margin-bottom: 16px;
					font-size: 18px;
				}

				p {
					font-size: 14px;
					font-weight: 400;
					max-width: 345px;
					color: $dark_gray;

					.light-mode & {
						color: $light_gray;
					}
				}
			}
		}
	}

	.education {
		padding-right: 5px;
	}

	.experience {
		padding-left: 5px;
	}
}
